.root {
    -default: #5d5c61;
    -default-modena: #F4F4F4;
    -cream: #D9B08C;
    -rose-gold: #FFCB9A;
    -light-blue: #D1E8E2;
    -blue: #116466;
    -dark-blue: #2C3531;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: -dark-blue;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: -dark-blue;
    -fx-highlight-fill: -light-blue;
}

.button {
    -fx-background-color: -dark-blue;
    -fx-font-weight: bold;
    -fx-text-fill: -rose-gold;
}

.image-button {
    -fx-min-width: 45px !important;
    -fx-min-height: 45px !important;
    -fx-border-radius: 50px !important;
    -fx-background-radius: 50px !important;
    -fx-background-color: transparent !important;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: -dark-blue;
}

.tab-pane {
    -fx-tab-min-width: 140px;
    -fx-tab-max-width: 140px;
    -fx-tab-min-height: 50px;
    -fx-tab-max-height: 50px;
}

.tab-label {
    -fx-text-fill: -light-blue;
    -fx-font-weight: bold;
}

.tab {
    -fx-font-size: 16;
    -fx-background-color: -dark-blue;
}

.tab:selected {
    -fx-background-color: -blue;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: -default;
}

.split-pane {
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -dark-blue;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -dark-blue;
}

.slider .thumb {
    -fx-background-color: -rose-gold;
}

.slider .track {
    -fx-background-color: -cream;
}

.combo-box-base {
    -fx-background-color: transparent, -cream, transparent, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.text-field {
    -fx-background-color: transparent, -cream, transparent, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: -dark-blue;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -dark-blue
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: -cream;
}

.table-view:focused {
    -fx-background-color: transparent;
}